<div class="container">
    <table style="width:100%">
        <tr>
            <th>
                <Paragraph TextColor="TextColor.Dark">
                    <strong>Details Last Updated: </strong>
                </Paragraph>
            </th>
            <td>
                @* <Paragraph *@
                @*     TextColor="TextColor.Dark">@FileDetail.FileAccessDetail.DetailsLastUpdated?.ToString("R")</Paragraph> *@
            </td>
        </tr>
        <tr>
            <th>
                <Paragraph TextColor="TextColor.Dark">
                    <strong>Previously Viewed: </strong>
                </Paragraph>
            </th>
            <td>
                @* <Paragraph *@
                @*     TextColor="TextColor.Dark">@FileDetail.FileAccessDetail.LastViewed?.ToString("R")</Paragraph> *@
            </td>
        </tr>
        <tr>
            <th>
                <Paragraph TextColor="TextColor.Dark">
                    <strong>Image FileClassification: </strong>
                </Paragraph>
            </th>
            <td>
                @* <Paragraph TextColor="TextColor.Dark">@FileDetail.FileName</Paragraph> *@
            </td>
        </tr>
        <tr>
            <th>
                <Paragraph TextColor="TextColor.Dark">
                    <strong>Directory: </strong>
                </Paragraph>
            </th>
            <td>
                @* <Paragraph *@
                @*     TextColor="TextColor.Dark">@FileDetail.DirectoryName.Replace(RootDirectory, string.Empty)</Paragraph> *@
            </td>
        </tr>
        <tr>
            <th>
                <Paragraph TextColor="TextColor.Dark">
                    <strong>Dimensions: </strong>
                </Paragraph>
            </th>
            <td>
                @* <Paragraph TextColor="TextColor.Dark">@FileDetail.Width x @FileDetail.Height</Paragraph> *@
            </td>
        </tr>
        <tr>
            <td>
                <Heading TextColor="TextColor.Dark">File Classifications</Heading>
                <Heading TextColor="TextColor.Dark">To be added via new endpoint</Heading>
                <table>
                    @* @foreach (FileDetailClassifications fileClassification in FileDetail.FileDetailClassifications) *@
                    @* { *@
                    @*     <tr> *@
                    @*         <td> *@
                    @*             <Paragraph TextColor="TextColor.Primary">@fileClassification.FileClassification</Paragraph> *@
                    @*         </td> *@
                    @*     </tr> *@
                    @* } *@
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div>

                    <Buttons>
                        <Buttons Margin="Margin.Is2.FromEnd">
                            @* @if (FileDetail.FileAccessDetail.SoftDeletePending) *@
                            @* { *@
                            @*     <Button Clicked="@(() => UnMarkForSoftDeleteImageAsync(FileDetail.FileAccessDetail.Id))" *@
                            @*             Color="Color.Success">Undo Soft Delete *@
                            @*     </Button> *@
                            @* } *@
                            @* else *@
                            @* { *@
                            @*     <Button Clicked="@(() => MarkForSoftDeleteImageAsync(FileDetail.FileAccessDetail.Id))" *@
                            @*             Color="Color.Warning">Soft Delete *@
                            @*     </Button> *@
                            @* } *@
                        </Buttons>
                        <Buttons>
                            @* @if (FileDetail.FileAccessDetail.HardDeletePending) *@
                            @* { *@
                            @*     <Button Clicked="@(() => UnMarkForHardDeleteImageAsync(FileDetail.FileAccessDetail.Id))" *@
                            @*             Color="Color.Success">Undo Hard Delete *@
                            @*     </Button> *@
                            @* } *@
                            @* else *@
                            @* { *@
                            @*     <Button Clicked="@(() => MarkForHardDeleteImageAsync(FileDetail.FileAccessDetail.Id))" *@
                            @*             Color="Color.Danger">Hard Delete *@
                            @*     </Button> *@
                            @* } *@
                        </Buttons>
                        <Buttons>
                            @* @if (FileDetail.FileAccessDetail.MoveRequired) *@
                            @* { *@
                            @*     <Button Clicked="@(() => UndoMarkForMovingAsync(FileDetail.FileAccessDetail.Id))" *@
                            @*             Color="Color.Success">Undo Move/Rename *@
                            @*     </Button> *@
                            @* } *@
                            @* else *@
                            @* { *@
                            @*     <Button Clicked="@(() => MarkForMovingAsync(FileDetail.FileAccessDetail.Id))" *@
                            @*             Color="Color.Info">Move/Rename *@
                            @*     </Button> *@
                            @* } *@
                        </Buttons>
                        <Buttons>
                            <Button Color="Color.Warning" Clicked="@(() => OnButtonClicked())">Open</Button>
                        </Buttons>
                    </Buttons>
                </div>
            </td>
        </tr>
    </table>
</div>
