@page "/admin/api-usage"
@using AStar.Dev.Web.Fakes

<PageTitle>AStar Dev: Api Usage</PageTitle>
<h3>Api Usage</h3>

@attribute [Authorize]


<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
<Button Color="Color.Primary" Clicked="@(async () => await HandleRedraw())">Redraw</Button>

<h2>Mock graph</h2>
<div style="width: 1200px">
    <LineChart @ref="lineChart" TItem="double"/>
</div>

<h2>Real API Usage</h2>
<table class="table table-striped">
    <thead>
    <tr>
        <td colspan="5" style="padding-bottom: 20px">
            <h3>Site Configurations</h3>
        </td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th style="width: 150px;">Api FileClassification</th>
        <th style="width: 150px;">ApiEndpoint</th>
        <th style="width: 150px;">HttpMethod</th>
        <th style="width: 150px;">ElapsedMilliseconds</th>
        <th style="width: 150px;">StatusCode</th>
        <th style="width: 150px;">Timestamp</th>
    </tr>
    @foreach (KeyValuePair<string, List<ApiUsageEvent>> usageEvent in usageEvents)
    {
        <tr>
            <td>
                <label id="ApiName">@usageEvent.Key</label>
            </td>
            <td colspan="4">
                <table class="table table-striped">
                    @foreach (ApiUsageEvent d in usageEvent.Value)
                    {
                        <tr>
                            <td style="width: 150px;"><label id="ApiEndpoint">@d.ApiEndpoint</label></td>
                            <td style="width: 150px;"><label id="HttpMethod">@d.HttpMethod</label></td>
                            <td style="width: 150px;"><label id="ElapsedMilliseconds">@d.ElapsedMilliseconds</label>
                            </td>
                            <td style="width: 150px;"><label id="StatusCode">@d.StatusCode</label></td>
                            <td style="width: 150px;"><label id="Timestamp">@d.Timestamp</label></td>
                        </tr>
                    }
                </table>
            </td>
        </tr>
    }
    </tbody>
</table>

@if (loading)
{
    <div>Loading...please wait...</div>
}
